<div class="table-responsive">
	<form action="{% url 'get_detalle_by_calificacion' %}" method="POST" id="detalleForm">
		{% csrf_token %}
		<table class="table table-hover table-bordered">
			<tr>
				<th>Nombre</th>
				<th>Estrellas</th>
				<th>Comentario</th>
				<th>Accion</th>
			</tr>
			<tr>
				{% for d in cal_detalle %}
					<input type="hidden" id="idHidden" value="{{ d.id }}">
					<td>{{ d.recorrido.nombre }}</td>
					<td>
						<div class="input-group">
							<select name="" id="estrellas" class="form-control">
								{% for e in estrellas %}
									<option value="{{e}}">{{ e }}</option>
								{% endfor %}
							</select>
						</div>
					</td>
					<td>
						<div class="input-group">
							<textarea cols="30" rows="10" class="form-control" id="comentario">{{ d.comentario }}</textarea>
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-primary" id="editarBtn">Editar</button>
						<button type="button" class="btn btn-danger" id="borrarBtn">Borrar</button>
					</td>	
				{% endfor %}
			</tr>
		</table>
	</form>
</div>